@import '../abstract/variaveis.scss';

nav {
    text-align: center;

    ul {
        li {
            display: inline-block;
            padding: 1rem;

            a {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color: $cor-primaria; // Substitua pela cor primária desejada
                transition: color 0.3s, font-size 0.3s, border-color 0.3s;

                &:hover {
                    color: $cor-tercearia; // Cor de hover desejada
                    font-size: 15px; // Tamanho de fonte de hover desejado
                    border-bottom-color: $cor-secundaria; // Cor da linha de baixo em hover
                    transform: scale(1.1); // Efeito de escala ao passar o mouse
                }
            }

        }
    }
}

;